 @font-face{
    font-family: 'Frutiger';
   src: url(../fonts/frutiger-75-black.otf);
}
 
 
 html, body {
    
    margin: 0;
    padding: 0;
  }
 
 /* Estilos para la barra de navegación */
 .navbarA {
  display: flex;
  justify-content: center;
    background-color: #0E67A7;
    flex-wrap: nowrap;
    overflow: hidden;
    text-align: center;
}


.navbarA a {
    display: inline-flex;
    
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Frutiger';
    font-size: 16px;
    padding: 10px 20px;
    height: auto;
    margin-right: 24px;
    margin-left: 24px;
  
}

.navbarA a:hover {
    background-color: #1387da;
    color: rgb(255, 255, 255);
}



@media screen and (max-width: 1100px) {
    .navbarA a {
      display: none; /* Ocultar la navbar */
    }
    .color-bar {
      display: block;
      background-color: #0E67A7;
      height: 25px;

    }
    .itemA img{
      margin-top: 5px;

    }
  }

.contacto {
    display: flex;


}

.telefono {
    display: flex;
    padding-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar2{
    display: flex;
    justify-content: space-between;
}

.email {
    display: flex;
    padding-left: 20px;
    padding-right: 50px;
    font-family: Arial, Helvetica, sans-serif;

}


.redes{
    position:relative ;
    bottom: 12px;
    right: 45px;
    
}


.containerA {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
  }
  
  .itemA:nth-child(1) {
    grid-row: 1 / span 2;
  }
  
  .itemA {
    display: flex;
    flex-direction: column;
  }
 
  .itemA img {
    height: 100px; 
    width: auto;
    margin-top: 8px;
    margin-left: 14px;
    /* margin-bottom: px; */
  }
  @media screen and (max-width: 600px) {
    .itemA img{
      height: 80px;
      margin-top: 6px;
      margin-bottom: 5px;
    }
  }
  @media screen and (max-width: 1100px) {
    .itemA img{
      /* height: 80px; */
      margin-top: 2px;
      margin-bottom: 5px;
    }
  }

  
 


  .item2{
    justify-self: end;
  }

  @media screen and (max-width: 1100px) {
    .item2 {
      display: none; 
    }
  }


.navbartop{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: #ffffff;
}

/* FIN DE NAVBAR */


/* PAGINA DE INICIO */




.linea {
  width: 100%;
  height: 30px;
  background-color: #0E67A7;
}

.figura{
display: flex;
justify-content: center;

}


.figura2{
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.figura2 img{
  /* position: relative; */
  width: 60%;
 
}

.sobrenosotros{
background-color: #0E67A7;
color: #ffffff;
font-family: Frutiger;
border-radius: 3px;
/* padding: 5px 5px; */
width: 300px;
margin-bottom: 7px;
margin-top: 22px;
font-size: 24px;
text-align: center;
margin-left: auto;
margin-right: auto;
}


@media screen and (max-width: 412px) {
  .figura2 img{
    width: 400px;
 
  }

}

/* FIN PAGINA DE INICIO */
  
 /* LINEA DE PRODUCTOS INICIO */
 .linea-de-productosA{
  display: flex;
  justify-content: center;
  width: 100%;
  /* max-width: 2000px; */
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  /* margin: auto;   */
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif ;

 }

 .linea-de-productosA .cardA{
  width: 406px;
  height: 500px;
  border-radius: 2px;
  overflow: hidden;
  /* margin: 20px 10px 10px 10px; */
  text-align: center;
  transition: all 0.25s;
  margin-bottom: 70px;
 }

 .linea-de-productosA .cardA:hover{
  transform: translateY(-15px);
  /* box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2); */
 }

 .linea-de-productosA .cardA .botonproductosA{
  display: inline-block;
  background-color: #0E67A7;
    color: #ffffff;
    padding: 3px 19px;
    max-width: 1000px;
    text-decoration: none;
    font-family: 'Frutiger';
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 10px;
    font-size: 15px;
    margin-top: 10px;
    width: 238px;
    
 }

 *,
 *::before,
 *::after {
     box-sizing: content-box !important;
 }
/* LINEA DE PRODCUCTOS FINAL */



/* CONTACTANOS */
/* CONTACTO */

.contactanos{
  /* margin-right: 30px; */
  margin: 10px;
}

@media screen and (min-width: 980px) {
  .contactanos{
  margin-right: 80px;
    /* justify-content: center; */
    /* margin-left: 30px; */
  }
}

.seccioninfo{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: auto;
  margin-top: 45px;
  margin-bottom: 45px;

}


.info{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  
}

.info2{
  width: 187px;
  /* margin-left: 25px;
  margin-right: 25px; */
}

.info2 img{
  width: 31px;
  height: 29px;
}

.info3 img{
  width: 31px;
  height: 29px;
}

.info3{
  width: 173px;
  margin-left: -16px;
  /* margin-right: 25px; */
}
/* FIN DE CONTACTO */



/* GOOGLE MAPS */
.mapa{
  display: flex;
  justify-content: center;
  width:580px; 
  height:250px; 
  margin-top: 10px;
  
  
}
/* FIN GOOGLE MAPS */


/* MENSAJE */
.contact-section {
  max-width: 600px;
  /* margin: 0 auto; */
}

.envianosmensaje{
  margin: 10px;
}

.form-group1 {
  background-color: #0E67A7;
  color: #ffffff;
  font-family: Frutiger;
  /* border-radius: 3px; */
  padding: 5px 10px;
  width: 66px;
  margin-bottom: 7px;
}


.form-group2 {
  background-color: #0E67A7;
  color: #ffffff;
  font-family: Frutiger;
  /* border-radius: 3px; */
  padding: 5px 10px;
  width: 72px;
  margin-top: 22px;
  margin-bottom: 7px;
}


.form-group3 {
  background-color: #0E67A7;
  color: #ffffff;
  font-family: Frutiger;
  /* border-radius: 3px; */
  padding: 5px 10px;
  width: 47px;
  margin-bottom: 7px;
  margin-top: 22px;

}


.form-group4 {
  background-color: #0E67A7;
  color: #ffffff;
  font-family: Frutiger;
  /* border-radius: 3px; */
  padding: 5px 10px;
  width: 184px;
  margin-bottom: 7px;
  margin-top: 22px;
}




.datos{
  margin-bottom: 10px;
}


input[type="text"] {
  padding: 5px; 
  width: 427px;
}
input[type="text2"] {
  padding: 5px; 
  width: 192px;
}
input[type="email"] {
  padding: 5px; 
  width: 192px;
}


.form-group input,
.form-group textarea {
  width: 100%;
  padding: 8px;
}

.form-group textarea {
  height: 150px;
}

.form-group div {
  display: inline-block;
  width: 50%;
  margin-right: 10px;
}

button[type="submit"] {
  background-color: #0E67A7;
  color: #fff;
  padding: 10px 20px;
  border: none;
  /* border-radius: 4px; */
  cursor: pointer;
  font-family: "Frutiger";

  margin-top: 7px;
}

button[type="submit"]:hover {
  background-color: #1387da;
}

.mensaje5{
  width: 567px;
}

.telefono2{
  margin-right: 30px;
}

.contactoP{
  display: flex;
  flex-wrap: wrap;
}

.mensaje6{
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}

@media screen and (max-width: 592px) {
  .mensaje5{
    width: 384px;

  }
  input[type="text"]{
    width: 374px;
  }
}



/* FIN DE MENSAJE */


@media screen and (max-width: 600px) {
  .mapa{
    width: 380px;
    height: 250px;
    /* justify-content: center; */
    /* margin-left: 30px; */
  }

  .info{
    justify-content: center;
    /* margin-left: 23px; */
  }


  .info1{
    width: 100px;
    /* height: 100px; */
    font-size: 12px;

  }
  .info2{
    width: 100px;
    /* height: 100px; */
    font-size: 12px;
    margin-left: 30px;
    margin-right: 47px;
    

  }
  .info3{
    width: 100px;
    /* height: 100px; */
    font-size: 12px;

  }
}

/* NUESTRO BLOG */

.nuestroblog1{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;


}
.nuestroblog2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #0E67A7;
  color: #ffffff;
  font-family: Frutiger;
  border-radius: 3px;
  padding: 5px 10px;
  width: 380px;
  margin-bottom: 7px;
  margin-top: 22px;
  font-size: 24px;
  text-align: center;
}
.nuestroblog3{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 300px;
  margin-bottom: 390px;
}


.nuestroblog3 img{
  /* margin-right: 30px; */
  max-width: 550px;
}

.blog1{
  font-size: large;
  margin: 20px;
  font-size: 40px;
  width: 500px;
  font-family: Arial, Helvetica, sans-serif;
}

.blog2{
  width: 400px;
  margin: 20px;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif
}

.blog3{
  /* display: flex; */
  /* flex-wrap: wrap; */
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .nuestroblog3 img{
    width: 380px;
    
  }
  .blog3{
    display: flex;
    flex-wrap: wrap;
    /* margin: 20px; */
  }

  .blog1{
    width: 357px;
    font-size: 30px;
    /* text-align: center; */
  }

  .blog2{
    width: 345px;
    margin: 5px;
    font-size: 20px;
  }
}

/* FIN NUESTRO BLOG */




/* FONDO INICIO */

.fondo0{
  position: relative;
  min-height: 100vh;
}




.fondo1{
  display: flex;
  justify-content: end;
  /* background-color: #0E67A7; */
}


.fondo1 img{
  position: absolute;
  right: 0;
  bottom: 0;
}


.fondocentro img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}


@media screen and (max-width: 1268px) {
  .fondo1{
   display: none;
  }
}
@media screen and (max-width: 1090px) {
  .fondo0{
   display: none;
  }
}


