 /* Estilos para la barra de navegación */
 .navbar {
    background-color: #0E67A7;
    overflow: hidden;
    text-align: center;
}

.navbar a {
    display: inline-flex;
    color: rgb(255, 255, 255);
    text-align: center;
    justify-content: ;
    padding: 14px 16px;
    text-decoration: none;
    font-family: ;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}


.encabezado {
    display: flex;
    justify-content: flex-start;

}


.info{
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-top: 10px;
}

.telefono {
    padding-left: 778px;
    padding-right: 10px;
}

.redes{
    padding-left: 1252px;
    padding-top: 28px;
    
}

.email {
    padding-left: 20px;
    padding-top: 5px;
    padding-right: 10px;

}