 @font-face{
    font-family: 'Frutiger';
   src: url(../fonts/frutiger-75-black.otf);
}
 
 
 html, body {
    margin: 0;
    padding: 0;
  }
 
 /* Estilos para la barra de navegación */
 .navbar {
  display: flex;
  justify-content: center;
    background-color: #0E67A7;
    flex-wrap: nowrap;
    overflow: hidden;
    text-align: center;
}


.navbar a {
    display: inline-flex;
    
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Frutiger';
    font-size: 28px;
    padding: 10px 20px;
    height: auto;
  
}

.navbar a:hover {
    background-color: #1387da;
    color: rgb(255, 255, 255);
}


@media screen and (max-width: 1605px) {
  .navbar a {
    font-size: 30px;

  }
}

@media screen and (max-width: 1340px) {
  .navbar a {
    font-size: 20px;

  }
}


@media screen and (max-width: 1100px) {
    .navbar a {
      display: none; /* Ocultar la navbar */
    }
    .color-bar {
      display: block;
      background-color: #0E67A7;
      height: 25px;

    }
  }

.contacto {
    display: flex;


}

.telefono {
    display: flex;
    padding-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar2{
    display: flex;
    justify-content: space-between;
}

.email {
    display: flex;
    padding-left: 20px;
    padding-right: 50px;
    font-family: Arial, Helvetica, sans-serif;

}


.redes{
    position:relative ;
    bottom: 12px;
    right: 45px;
    
}


.container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
  }
  
  .item:nth-child(1) {
    grid-row: 1 / span 2;
  }
  
  .item {
    display: flex;
    flex-direction: column;
  }
 
  .item img {
    height: 119px; 
    width: auto;
    padding-left: 10px;
    padding-bottom: 2px;
    padding-top: 2px;
  }

  @media screen and (max-width: 600px) {
    .item img{
      height: 80px;
    }
  }
  
 


  .item2{
    justify-self: end;
  }

  @media screen and (max-width: 1100px) {
    .item2 {
      display: none; 
    }
  }


.navbartop{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: #ffffff;
}

/* FIN DE NAVBAR */


/* PAGINA DE INICIO */


.portada{
    position: relative;
    font-size: 0;
}
.portada img {
    width: 100%;
    height: auto;
    border-bottom: none
  
}
.cuerpo img {
    width: 100%;
    height: auto;
}

.logo-portada{
    position: absolute;
    width: 50%;
    height: auto;
    top: 393px;
    left: 157px;
}

.cuerpo{
    position: relative;
}

.texto-superpuesto {
    position: absolute;
    top: 11%; 
    left: 50%; 
    text-align: center;
    transform: translate(-50%, -50%); 
    color: #ffffff; 
    font-size: 1.4vw;
    max-width: 1000px;
    font-family: Arial, Helvetica, sans-serif;
 
}

  

  .sobrenosotros{
    position: absolute;
    top: 66%; 
    left: 50%; 
    text-align: center;
    transform: translate(-50%, -50%);
    background-color: #0E67A7;
    color: #ffffff;
    padding: 3px 19px;
    font-size: 2.4vw;
    max-width: 1000px;
    text-decoration: none;
    font-family: 'Frutiger';
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  }
  
 /* LINEA DE PRODUCTOS INICIO */
 .linea-de-productos{
  width: 100%;
  max-width: 2000px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 10px;
  /* margin: auto;   */
  font-family: Arial, Helvetica, sans-serif ;

 }

 .linea-de-productos .card{
  width: 450px;
  height: 500px;
  border-radius: 2px;
  overflow: hidden;
  /* margin: 20px 10px 10px 10px; */
  text-align: center;
  transition: all 0.25s;
 }

 .linea-de-productos .card:hover{
  transform: translateY(-15px);
  /* box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2); */
 }

 .linea-de-productos .card .botonproductos{
  background-color: #0E67A7;
    color: #ffffff;
    padding: 3px 19px;
    max-width: 1000px;
    text-decoration: none;
    font-family: 'Frutiger';
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 10px;
    font-size: 15px;
    margin-top: 10px;
    
 }


/* LINEA DE PRODCUCTOS FINAL */



/* CONTACTANOS */
/* CONTACTO */

.contactanos{
  /* margin-right: 30px; */
  margin: 10px;
}

@media screen and (min-width: 980px) {
  .contactanos{
  margin-right: 80px;
    /* justify-content: center; */
    /* margin-left: 30px; */
  }
}

.seccioninfo{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: auto;

}


.info{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  
}

.info2{
  width: 187px;
  /* margin-left: 25px;
  margin-right: 25px; */
}

.info2 img{
  width: 31px;
  height: 29px;
}

.info3 img{
  width: 31px;
  height: 29px;
}

.info3{
  width: 173px;
  margin-left: -16px;
  /* margin-right: 25px; */
}
/* FIN DE CONTACTO */



/* GOOGLE MAPS */
.mapa{
  display: flex;
  justify-content: center;
  width:580px; 
  height:250px; 
  margin-top: 10px;
  
  
}
/* FIN GOOGLE MAPS */


/* MENSAJE */
.contact-section {
  max-width: 600px;
  /* margin: 0 auto; */
}

.envianosmensaje{
  margin: 10px;
}

.form-group1 {
  background-color: #0E67A7;
  color: #ffffff;
  font-family: Frutiger;
  /* border-radius: 3px; */
  padding: 5px 10px;
  width: 66px;
  margin-bottom: 7px;
}


.form-group2 {
  background-color: #0E67A7;
  color: #ffffff;
  font-family: Frutiger;
  /* border-radius: 3px; */
  padding: 5px 10px;
  width: 72px;
  margin-top: 22px;
  margin-bottom: 7px;
}


.form-group3 {
  background-color: #0E67A7;
  color: #ffffff;
  font-family: Frutiger;
  /* border-radius: 3px; */
  padding: 5px 10px;
  width: 47px;
  margin-bottom: 7px;
  margin-top: 22px;

}


.form-group4 {
  background-color: #0E67A7;
  color: #ffffff;
  font-family: Frutiger;
  /* border-radius: 3px; */
  padding: 5px 10px;
  width: 184px;
  margin-bottom: 7px;
  margin-top: 22px;
}




.datos{
  margin-bottom: 10px;
}


input[type="text"] {
  padding: 5px; 
  width: 427px;
}
input[type="text2"] {
  padding: 5px; 
  width: 192px;
}
input[type="email"] {
  padding: 5px; 
  width: 192px;
}


.form-group input,
.form-group textarea {
  width: 100%;
  padding: 8px;
}

.form-group textarea {
  height: 150px;
}

.form-group div {
  display: inline-block;
  width: 50%;
  margin-right: 10px;
}

button[type="submit"] {
  background-color: #0E67A7;
  color: #fff;
  padding: 10px 20px;
  border: none;
  /* border-radius: 4px; */
  cursor: pointer;
  font-family: "Frutiger";

  margin-top: 7px;
}

button[type="submit"]:hover {
  background-color: #1387da;
}

.mensaje5{
  width: 567px;
}

.telefono2{
  margin-right: 30px;
}

.contactoP{
  display: flex;
  flex-wrap: wrap;
}

.mensaje6{
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}

@media screen and (max-width: 592px) {
  .mensaje5{
    width: 384px;

  }
  input[type="text"]{
    width: 374px;
  }
}



/* FIN DE MENSAJE */


@media screen and (max-width: 600px) {
  .mapa{
    width: 380px;
    height: 250px;
    /* justify-content: center; */
    /* margin-left: 30px; */
  }

  .info{
    justify-content: center;
    /* margin-left: 23px; */
  }


  .info1{
    width: 100px;
    /* height: 100px; */
    font-size: 12px;

  }
  .info2{
    width: 100px;
    /* height: 100px; */
    font-size: 12px;
    margin-left: 30px;
    margin-right: 47px;
    

  }
  .info3{
    width: 100px;
    /* height: 100px; */
    font-size: 12px;

  }
}